.root-properties {
    --primary-color: #1d1d1d;
    --secondary-color: #7b7b7b;
    --action-color: #ebb33b;
  }
  
  :root {
    --primary-color: #1d1d1d;
    --secondary-color: #7b7b7b;
    --action-color: #ebb33b;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  button {
    padding: 0.5rem 1rem;
    font-weight: bold;
  }