.appContainer {
  margin: 0 3em 0 3em
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
===========================
====  TIMELINE ELEMENTS ===
    - Timeline Container (grid)
    - Keyframes (grid)
    - Key number display (huge light text)
*/

.hugeLightText {
  color: rgb(180, 180, 180);
  font-size: 6rem;
  display: inline-block;
  will-change: opacity;
}

.hugeLightTextFade {
  transition: opacity 1s ease-in-out;
}

.timelineContainer {
  border-radius: 12px;
  background-color: var(--secondary-color);
  width: 80%;
  padding: 0.5rem;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 0.1rem;
  grid-template-columns: repeat(100, 1fr);
  min-width: 890px;
  box-sizing: border-box;
}

.keyFrame {
  background-color: var(--primary-color);
  /*border: 1px solid var(--action-color);*/
  border-radius: 0.3rem;
  display: grid;
  grid-template-rows: 3rem repeat(6, 1fr);
  padding: 0.1rem;
}

.keyDot {
  border-radius: 0.4rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  align-self: start;
  grid-row-start: 1 / span 4;
  box-sizing: border-box;
}

.popKey {
  position: absolute;
  transform: matrix(-2px, -4px);
  width: 7%;
  border-bottom: 1.2rem solid var(--secondary-color);
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
}

.keyFrame:nth-child(1),
.keyFrame:nth-child(50),
.keyFrame:nth-child(100) {
  background-color: var(--action-color);
  border: var(--primary-color) 1px solid;
}


/*========================
====  STAGE ELEMENTS ===*/

.animElement {
  width: 80px;
  height: 80px;
}
.stageContainer {
  background-color: var(--secondary-color);
  border-radius: 1em;
  width: 40%
}


/* If the window width is below 930px, split the timeline into two rows to fit screen */
@media screen and (max-width: 930px) {
  .timelineContainer {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(50, 1fr);
    max-width: 600px;min-width: 500px;
  }
}